# Ignore sensitive or unnecessary files/folders in the image
*.pyc
*.pyo
*.pyd
*.ipynb
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/

# Ignore local environments
.venv/
.env

# Logs and reports
*.log
*.csv

# Logs and reports
*.parquet

# Local test files or scratch code
*.ipynb

# Ignore data and logs

# Ignore VSCode workspace stuff
.vscode/
*.code-workspace