# Ignore sensitive or unnecessary files/folders in the image
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
.DS_Store

# Ignore local environments
.venv/
.env

# Logs and reports
*.log
*.csv

# Logs and reports
*.parquet

# Local test files or scratch code
btc_bot/misc/
btc_bot/*.ipynb

# Ignore data and logs

# Ignore VSCode workspace stuff
.vscode/
*.code-workspace